%h1 Listing lessons

%table
  %thead
    %tr
      %th Room
      %th Teacher
      %th Group num
      %th Lesson name
      %th
      %th
      %th

  %tbody
    - @lessons.each do |lesson|
      %tr
        %td= lesson.room
        %td= lesson.teacher
        %td= lesson.group_num
        %td= lesson.lesson_name
        %td= link_to 'Show', lesson
        %td= link_to 'Edit', edit_lesson_path(lesson)
        %td= link_to 'Destroy', lesson, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Lesson', new_lesson_path
